/* p{
    color: blueviolet;
    font-size: 60px;
} */
/* .my-p{
    color: red;
    font-size: 40px;
}
#pp{
    color: blue;
    font-size: 55px;
} */
/* ------------------------------------------ */
/* div{
    background-color: rebeccapurple;  color name
    background-color: rgb(0, 255, 255); red gren blue
    background-color: rgb(60 143 159); 
    background-image: url(../imgs/Annotation\ 2026-04-04\ 141110.png);
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
} */
/* --------------------------------- */
/* div{
    background-image: url(../imgs/Annotation\ 2026-04-04\ 141110.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-position: center center;
    background-size: contain;
} */

/*------------------------------------------------*/
/* div{
    background-color: wheat;
    padding: 10px 20px;
} */
/*------------------------------------------------*/
/* div{
    background-color: violet;
    width: 50%;
    margin: auto;
    padding: 10px;
} */
    /*------------------------------------------------*/
/* div{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: blueviolet;
    margin-top: 10px;
} */

/*------------------------------------------------*/
/* div{
    height: 400px;
    width: 400px;
    margin-top: 10px;
    padding: 20px;
    background-image: url(../imgs/css-assignment-5-8.png);
}
.assign-2-shape-1{
    background-repeat: no-repeat;
}
.assign-2-shape-2{
    background-repeat: repeat-x;
}
.assign-2-shape-3{
    background-repeat: repeat-y;
}
.assign-2-shape-4{
    background-repeat: repeat;
} */

/*------------------------------------------------*/
/* div{
    width: 400px;
    height: 400px;
    margin: 10px;
    background-image: url(../imgs/css-assignment-5-8.png);
}
.assign-3-shape-1{
    background-repeat: no-repeat;
}
.assign-3-shape-2{
    background-repeat: repeat-y;
    background-position: right;
}
.assign-3-shape-3{
    background-repeat: repeat-x;
    background-position: bottom;
}
.assign-3-shape-4{
    background-repeat: repeat;
    
} */
/*------------------------------------------------*/
/* div{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: blanchedalmond;
    background-image: url(../imgs/css-assignment-5-8.png);
}
.assign-4-shape-1{
    background-repeat: no-repeat;
    background-size: 80%;
}
.assign-4-shape-2{
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: right;
}
.assign-4-shape-3{
    background-repeat: repeat-x;
    background-size: 80%;
    background-position: bottom;
}
.assign-4-shape-4{
    background-repeat: no-repeat;
    background-position: bottom right;
} */

/*------------------------------------------------*/
/* .test9{
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: bisque;
    border: 2px red dashed;
    border-width: 10px;
    border-style: double;
    border-color: violet;
    outline: 2px red solid;
} */
/*------------------------------------------------*/
/* div{
    display: inline-block;
    background-color: thistle;
    padding: 20px 30px;
    margin: 40px;
}
.shape1{
    border: 10px red solid;
    outline: 10px black solid;
}
.shape2{
    border-width: 10px;
    border-color: blue green;
    border-style: solid;
    outline: 10px black solid;

}
.shape3{
    border-width: 10px;
    border-color: red green blue yellow;
    border-style: dashed;
    outline: 10px black solid;
} */
/* .element-element-1,
.element-element-2,
.element-element-3
{
    background-color: floralwhite;
    padding: 15px;
    margin: 15px;
    outline: 5px floralwhite solid;
}
.element-element-1{
    border-left: 5px red solid;
}
.element-element-2{
    border-left: 5px red solid;
    visibility: hidden;
}
.element-element-3{
    border-left: 5px rgb(47, 0, 255) solid;
} */

/*------------------------------------------------*/

/* .parent .child span{
    color: red;
}
.parent .title{
    color: royalblue;
}
.parent p,
.title{
    color: green;
} */
div{
    background-color: brown;
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    max-height: 85px;
    width: fit-content;
    overflow: hidden;
}
.aaa{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(254, 240, 255);
    overflow: auto;
}