

/* p{
    color: blueviolet;
    font-size: 60px;
} */
/* .my-p{
    color: red;
    font-size: 40px;
}
#pp{
    color: blue;
    font-size: 55px;
} */
/* ------------------------------------------ */
/* div{
    background-color: rebeccapurple;  color name
    background-color: rgb(0, 255, 255); red gren blue
    background-color: rgb(60 143 159); 
    background-image: url(../imgs/Annotation\ 2026-04-04\ 141110.png);
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
} */
/* --------------------------------- */
/* div{
    background-image: url(../imgs/Annotation\ 2026-04-04\ 141110.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-position: center center;
    background-size: contain;
} */

/*------------------------------------------------*/
/* div{
    background-color: wheat;
    padding: 10px 20px;
} */
/*------------------------------------------------*/
/* div{
    background-color: violet;
    width: 50%;
    margin: auto;
    padding: 10px;
} */
    /*------------------------------------------------*/
/* div{
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: blueviolet;
    margin-top: 10px;
} */

/*------------------------------------------------*/
/* div{
    height: 400px;
    width: 400px;
    margin-top: 10px;
    padding: 20px;
    background-image: url(../imgs/css-assignment-5-8.png);
}
.assign-2-shape-1{
    background-repeat: no-repeat;
}
.assign-2-shape-2{
    background-repeat: repeat-x;
}
.assign-2-shape-3{
    background-repeat: repeat-y;
}
.assign-2-shape-4{
    background-repeat: repeat;
} */

/*------------------------------------------------*/
/* div{
    width: 400px;
    height: 400px;
    margin: 10px;
    background-image: url(../imgs/css-assignment-5-8.png);
}
.assign-3-shape-1{
    background-repeat: no-repeat;
}
.assign-3-shape-2{
    background-repeat: repeat-y;
    background-position: right;
}
.assign-3-shape-3{
    background-repeat: repeat-x;
    background-position: bottom;
}
.assign-3-shape-4{
    background-repeat: repeat;
    
} */
/*------------------------------------------------*/
/* div{
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: blanchedalmond;
    background-image: url(../imgs/css-assignment-5-8.png);
}
.assign-4-shape-1{
    background-repeat: no-repeat;
    background-size: 80%;
}
.assign-4-shape-2{
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: right;
}
.assign-4-shape-3{
    background-repeat: repeat-x;
    background-size: 80%;
    background-position: bottom;
}
.assign-4-shape-4{
    background-repeat: no-repeat;
    background-position: bottom right;
} */

/*------------------------------------------------*/
/* .test9{
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: bisque;
    border: 2px red dashed;
    border-width: 10px;
    border-style: double;
    border-color: violet;
    outline: 2px red solid;
} */
/*------------------------------------------------*/
/* div{
    display: inline-block;
    background-color: thistle;
    padding: 20px 30px;
    margin: 40px;
}
.shape1{
    border: 10px red solid;
    outline: 10px black solid;
}
.shape2{
    border-width: 10px;
    border-color: blue green;
    border-style: solid;
    outline: 10px black solid;

}
.shape3{
    border-width: 10px;
    border-color: red green blue yellow;
    border-style: dashed;
    outline: 10px black solid;
} */
/*
.element-element-1,
.element-element-2,
.element-element-3
{
    background-color: floralwhite;
    padding: 15px;
    margin: 15px;
    outline: 5px floralwhite solid;
}
.element-element-1{
    border-left: 5px red solid;
}
.element-element-2{
    border-left: 5px red solid;
    visibility: hidden;
}
.element-element-3{
    border-left: 5px rgb(47, 0, 255) solid;
} */

/*------------------------------------------------*/

/* .parent .child span{
    color: red;
}
.parent .title{
    color: royalblue;
}
.parent p,
.title{
    color: green;
} */
/* div{
    background-color: brown;
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    max-height: 85px;
    width: fit-content;
    overflow: hidden;
}
.aaa{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(254, 240, 255);
    overflow: auto;
} */

/*------------------------------------------------*/
/* div{
    background-color: antiquewhite;
    padding: 15px;
    margin: auto;
    font-size: 50px;
    text-shadow: 2px 2px 0 red,3px 3px 0 blue,5px 5px 0 blueviolet;
    width: fit-content;
} */

/* p{
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
    text-align: center;
    width: fit-content;
    display: inline-block;
    max-width: 300px;
    overflow: auto;
}
.one{
    text-transform: uppercase;
}
.two{
    text-transform: capitalize;
}
.three{
    text-transform: lowercase;
}
div{
    background-color: antiquewhite;
    text-align: center;
    direction: rtl;
    vertical-align: middle;
    text-decoration: line-through;

}
a{
    background-color: black;
    color: white;
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 5px;
    margin: 10px auto;
    border-top: 4px red solid;
    border-radius: 10px;

} */
/* .test{
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    text-indent: 10px;
    line-height: 1.6;
    letter-spacing: 1px;
    word-spacing: 5px;
    width: 400px;
    word-break: break-all;
} */
/* div{
    width: 400px;
    background-color: antiquewhite;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.my-div{
    background-color: aqua;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
/*------------------------------------------------*/
/* body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    border: 3px red solid;
    text-align: center;
}
div p{
    padding: inherit;
    margin: inherit;
    border: inherit;
} */
/* div{
    background-color: azure;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border: 2px rgb(164, 37, 37) solid;
}
div p{
    padding: inherit;
    margin: inherit;
    border: inherit;
} */

/* div p{
    font-size: 2vw;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
} */

/* .parent{
    background-color: red;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.parent div{
    padding: 10px;
    background-color: aqua;
    display: inline-block;
    width: 21%;
    float: left;
}
.clear{
    clear: both;
} */
 /* ---------------------------------------------------------- */

/* body{
    margin: 0;
}
.parent{
    background-color: grey;
    width: 1000px;
    text-align: center;
}
.parent .row1{
    padding: 10px;
    margin: 15px ;
    background-color: wheat;
}
.parent .row2 div{
    background-color: wheat;
    display: inline-block;
    margin-left: 15px;
    padding: 10px 0;
    width: calc((100% - 60px) / 3);
    float: left;
}
.parent .row3 div{
    background-color: wheat;
    display: inline-block;
    width: calc((100% - 45px) / 2);
    padding: 10px 0;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}
.parent .row4 div{
    background-color: wheat;
    display: inline-block;
    padding: 10px 0;
    margin: 15px 0;
    margin-left: 15px;
    width: calc((100% - 75px) / 4);
    float: left;
}

.clear{
    clear: both;
}    */
    /* ------------------------------------------------- */
/* div {
    margin: 20px auto;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: gray; 
    opacity: 0.5;
    color: black;
    width: 300px;
} */
/* .parent{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    position: relative;
    top: 10px;
    left: 10px;
}
.parent div{
    padding: 10px;
    width: 200px;
}
.parent .div-one{
    background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;

}
.parent .div-two{
    background-color: blue;
    position: absolute;
    bottom: 0;
}
.test{
    padding: 10px;
    background-color: black;
    color: white;
    width: 200px;
    position: sticky;
    top: 0;
} */

/* 
    position
    -relative
    -absolute
    -fixed
    -sticky
*/
/* div{
    width: 100px;
    height: 100px;
    position: absolute;
}
.green{
    background-color: green;
    z-index: 2;
    top: 40px;
    left: 40px;
}
.red{
    background-color: red;
    z-index: 3;
    top: 60px;
    left: 60px;
}
.blue{
    background-color: blue;
    z-index: 1;
    top: 20px;
    left: 20px;
}
.black{
    background-color: black;
    z-index: 0;
    top: 40px;
    left: 20px;
} */

/* .parent{
    width: 400px;
}
.parent li{
    margin: 10px;
    background-color: #EEE;
    list-style-position:inside ;
}
.parent .first-li ol li{
    background-color: white;
}
.parent .secand-li ol li {
    background-color: white;
}
.parent .therd-li ul li{
    background-color: white;
}
.parent ol{
    padding-left: 0;
} */
 /* -------------------------------------------------------- */
/* div{
    background-color: #EEE;
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    word-spacing: 2px;
    line-height: 1.6;
    border-width: 2px;
    border-color: red blue;
    border-style: solid;
    position: relative;

}
div span{
    padding: 0 5px;
    background-color: #007eff;
    color: white;
    position: absolute;
}
div .top-left{
    top: -13px;
    left: -10px;
    border-right: 2px red solid;
}
div .bottom-left {
    bottom: -13px;
    left: -10px;
    border-right: 2px red solid;
}
div .top-right {
    top: -13px;
    right: -10px;
    border-left: 2px red solid;
}
div .bottom-right {
    bottom: -13px;
    right: -10px;
    border-left: 2px red solid;
}
table{
    width: 700px;
    margin: auto;
    background-color: #EEE;
    border-spacing: 1px;
}
table td{
    text-align: center;
    padding: 10px;
    border: 1px white solid;
}
table thead td{
    background-color: #000000ad;
    color: white;
    font-weight: bold;
    
}
.view-but{
    background-color: #007eff;
    color: white;
    padding: 5px 10px;
    border: 0;
    cursor: pointer;

}
.delet-but {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: 0;
    cursor: pointer;

} */

/* div a {
    text-decoration: none;
    color: blue;
}
.ch:checked + label{
    color: red;
}
a:hover{
    color: black;
}
a:visited{
    color: black;
} */

/* .in{
    border: 1px red solid;
}
.in:focus{
    border: 2px blue solid;
    outline: none;
} */

/* .one::first-letter{
    background-color: red;
    font-size: 20px;
    font-weight: bold;
}
.two::first-line{
    text-transform: uppercase;
    font-weight: bold;
}
.three::selection{
    color: yellow;
    background-color: black;
} */
/* .parent1{
    text-align: center;
    overflow: hidden;
}
.parent1 div{
    padding: 10px;
    margin: 10px;
    background-color: #eee;
}
.one{
    width: 50px;
    height: 54.5px;
    font-size: 50px;
    float: left;
}
.parent1 .dis{
    width: 600px;
    position: relative;
    float: left;
}
/* span{
    position: absolute;
    width: 5px;
    height: 100%;
    background: red;
    right: -3px;
    top: 0;
} */

/* .parent1 .dis::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: red;
    right: -3px;
    top: 0;
}
.parent1 .dis::before{
    content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: -22px;
        top: 38%;
        border-width: 10px;
        border-color: transparent green transparent transparent;
        border-style: solid;
} */
/* a{
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px black solid;
    border-radius: 3px;
}
a:hover{
    background-color: white;
    color: black;
} */ 
/* a:visited{
    color: red;
} */

/* .dis::first-letter{
    font-size: 30px;
    padding: 3px;
    background-color: red;
}
.dis::first-line{
    text-transform: uppercase;

}
.dis::selection{
    background-color: black;
    color: yellow;
} */
/* .parent{
    overflow: hidden;
    counter-increment: counter;
}
.parent .info{
    padding: 10px;
    margin: 10px;
    background-color: #eee;
    float: left;
    width: 600px;
    position: relative;
}
.parent .user{
    margin: 10px;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(/imgs/css-assignment-5-8.png);
    background-repeat: repeat;
}
.parent .info::before {
    content: attr(data-text);
    display: none;
}
.parent .info:hover::before{
    display: block;
}
.parent .info::after {
    content: counter(counter);
    text-align: center;
    content: counter(counter);
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -10px;
    color: wheat;
    font-weight: bold;

} */

/* ul{
    list-style: none;
}
ul li {
    position: relative;
}
ul li::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -15px;
    top: 0;
    border-width: 10px;
    border-color: transparent transparent transparent red;
    border-style: solid;
    

} */
/* ----------------------------------------------------------- */
/* div{
    margin: 10px auto;
    width: 300px;
    height: 60px;
    background-color: #eee;
    text-align: center;
    position: relative;
}
.hi::before{
    content: attr(co);
    width: 100%;
    height: 100%;
    display: block;
    background-color: red;
}  */

/* div{
    padding: 20px;
    margin: 10px auto;
    width: 300px;
    background-color: #eee;
    position: relative;

} */
/* div::before{
    content: "1";
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: red;
    position: absolute;
    left: -15px;
    top: 8px;   
} */
/* p{
    width: 400px;
    padding: 20px;
    margin: 10px auto;
    background-color: #eee;
    position: relative;
}
p::before{
    content: "";
    height: 100%;
    width: 5px;
    background-color: blueviolet;
    position: absolute;
    left: 0;
    top: 0;
}
p::after{
    content: "";
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent blueviolet transparent transparent;
    border-style: solid;
    position: absolute;
    left: -19px;
    
} */

/* p{
    counter-increment: users;
    padding: 10px;
    background-color: #eee;
    width: fit-content;
    margin: 10px auto;
    position: relative;
}
p::before{
    content: counter(users);
    padding: 5px;
    width: 25px;
    height: 74%;
    background-color: red;
    color: white;
    text-align: center;
    position: absolute;
    left: -35px;
    top: 0;
    font-size: 25px;
    opacity: 0.8;

}
p::after{
    content: "";
    width: 3px;
    height: 100%;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}
div{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 10px auto;
    border-top-left-radius: 30px 50px;
    box-shadow: 0px -1px 9px 2px black inset;

} */
/* div{
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    background-color: #ddd;
    overflow: hidden;
}
div p{
    background-color: #eee;
    width: 300px;
    padding: 10px;
    float: left;
    box-sizing: border-box;
} */

/* div{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    display: inline-block;
    margin: 20px 40px;
    counter-increment: number;
    border-radius: 50px;
    border: 2px  black solid;
    position: relative;
    box-shadow: -5px -5px 0 0 red, 5px 5px 0 0 blue;
}
div::before{
    content: counter(number);
    position: absolute;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    left: 40%;
    top: -10px;


}
div::after{
    content: "Element";
    position: absolute;
    top: 40%;
    right: 25%;
} */

/* .sh{
    width: 100px;
    height: 100px;
    background-color: #eee;
    margin: 20px auto;
    border-radius: 0 50px 0 50px;
    border-top-left-radius: 10px 20px;
    border-bottom-right-radius: 10px 20px ;
    box-shadow: 0px 0px 10px -1px black inset;
} */

/* .parent{
    width: 550px;
    background-color: white;
    overflow: hidden;
}
.parent .card{
    width: 275px;
    background-color: #eee;
    text-align: center;
    box-sizing: border-box;
    float: left;
}
.parent .card button{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: large;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}
.parent .card div{
    height: 275px;
    background-color: #ddd;
    border-radius: 50%;
    position: relative;
}
p{
    position: absolute;
    right: 50%;
    top: 38%;
    margin: 0;
    width: 15%;
    font-size: 50px;
    
}

.hello{
    width: 600px;
    background-color: #eee;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
}
.hello div{
    background-color: #ddd;
    width: 300px;
    float: left;
    padding: 10px;
    border: 10px red solid;
    box-sizing: border-box;
} */

/* div{
    background-color: red;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-property: margin-top , margin-left ;
    transition-timing-function: linear;
    transition: width 4s,margin-top 2s;
} */
/* div:hover{
    margin-top: 100px;
    margin-left: 50px;
    width: 400px;
} */

/* .test{
    background-color: cadetblue;
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    height: 200px;
    margin-top: 200px;
    text-align: center;
    transition: margin-top 2s;
}
.test div{
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
    transition: margin-top 3s;
}

div:hover{
    margin-top: 60px;
} */

/* .one{
    background-color: #eee !important;
} */

/* .parent{
    overflow: hidden;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: auto;
    background-color: #eee;
}
.parent .one{
    width: 50%;
    height: 100%;
    float: left;
    background-color: black;
}
.parent .tow {
    width: 50%;
    height: 100%;
    float: left;
}
.parent .tow .up{
    height: 90px;
    background-color: red;
    margin-bottom: 20px;
}
.parent .tow .down {
    height: 90px;
    background-color: greenyellow;
    margin-top: 20px;
} */
